.parent{
    position: relative;
    color: aliceblue;
    font-size: 100px;
}
img{
    width: 300px;
    height: 300px;
}
.std{
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);
}